<div class="hero min-h-screen">
  <div class="hero-content flex-col">
      <h1 class="text-5xl font-bold text-center">Grow Journey</h1>
      <%= image_tag 'top_sprout.png', size:'150x150' %>
      <p class="py-6 text-center">花で刻む、あなた自身の成長の物語。<br>
      あなたの日々の達成と成長を美しい花で記録しませんか？</p>
      <%= link_to '（LINE）ユーザー登録・ログイン', new_user_path, class: 'btn btn-success btn-lg', data:{turbo: false} %>
  </div>
</div>