<div class="relative min-h-screen">
  <%= image_tag 'top_sprout.webp', class: 'w-full h-auto object-cover' %>
  <div class="absolute inset-0 left-0 sm:inset-auto sm:top-1/4 transform p-8 animate-fade-in-up">
    <h1 class="text-3xl sm:text-5xl md:text-6xl lg:text-8xl font-bold text-white">Grow Journey</h1>
    <p class="mt-4 text-base sm:text-lg md:text-xl text-white leading-tight">
      花で刻む、あなた自身の成長の物語。<br>
      あなたの日々の達成と成長を美しい花で記録しませんか？
    </p>
    <%= link_to '（LINE）ユーザー登録・ログイン', new_user_path,
      class: 'mt-8 btn btn-success sm:btn-sm lg:btn-lg', data: { turbo: false } %>
  </div>
</div>