<%- if controller_name != 'sessions' %>
  <%= link_to t("defaults.to_login_page"), new_session_path(resource_name), class: "mb-2 text-xs text-gray-500 border-b hover:text-primary hover:border-primary" %><br />
<% end %>

<div class="flex items-center justify-between text-xs text-gray-500">
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to t("devise.shared.links.forgot_your_password"), new_password_path(resource_name), class: "mb-2 border-b hover:text-primary hover:border-primary"%>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to t("devise.shared.links.sign_up"), new_registration_path(resource_name), class: "mb-2 border-b hover:text-primary hover:border-primary" %>
<% end %>
</div>