<div class="navbar bg-primary text-white">
  <div class="flex-1 px-2 lg:flex-none">
    <a class="text-lg font-bold"><%= link_to 'GrowJourney', root_path %></a>
  </div>
  <div class="flex justify-end flex-1 px-2">
    <%= link_to t('defaults.login'), new_user_session_path, class: 'btn btn-square btn-ghost whitespace-nowrap w-24' %>
  </div>
</div>