<footer class="p-8 footer bg-base-200 text-base-content footer-center rounded ">
  <aside>
    <div class="grid grid-flow-col gap-4">
        <a class="link link-hover">お問い合わせ</a>
        <%= link_to "利用規約", terms_path %>
        <%= link_to "プライバシーポリシー", privacy_policy_path %>
    </div>
    <div>
      <p>Copyright © 2023 - All rights reserved by mikan.</p>
    </div>
  </aside>
</footer>