<% content_for(:title, t(".title")) %>
<div class="card flex-shrink-0 w-full max-w-lg shadow-2xl mx-auto mt-12 mb-12">
  <div class="card-body">
    <h3 class="my-3 text-2xl font-medium text-center text-gray-600"><%= t(".complete") %></h3>
    <%= image_tag "cats.png", size: "400x200", class: "mx-auto" %>
    <div class="text-sm text-center text-gray-500">
      <p>毎日少しずつでいいんだよ。</p>
      <p>大切なのは、いつも前に進むこと。</p>
      <p>あなたの1週間を応援してるよ！</p>
    </div>
      <div class="text-center">
        <%= link_to t(".link"), goals_path, class: "btn btn-secondary py-2 px-8 ml-2" %>
      </div>
  </div>
</div>