<div class="col-sm-12 col-lg-4 mb-3">
  <div id="goal-id-<%= goal.id %>">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">
            <%= goal.content %>
          </a>
        </h4>
      </div>
    </div>
  </div>
</div>