<!-- モーダル -->
<section id="modal" class="hidden">
    <!-- 画像表示用の要素 -->
  <%= image_tag @image, id: "modalImage", class: "hidden" %>
  <p class="text-center text-2xl font-bold">Congratulations!</p>
  <p class="text-center">
    <%= @goals_count_modal %>本目を獲得しました！
  </p>
  <!-- Xで共有ボタン -->
  <p class="text-center">
  <%= link_to "https://twitter.com/share?url=https://www.grow-journey.com&text=【%20%23GrowJourney】%0a日々の小さなタスクから大きな目標達成が、私の成長を紡いでいく。%0a今日も素晴らしい目標を達成しました💐%0a%0aﾟ･*.✿*お花が#{@goals_count}本咲きました！*✿.*･ﾟ%0a%0aあなたもこの旅に参加して、毎日の成長を実感しましょう！ %0a%20%23成長の軌跡%0a",
    target: '_blank',
    data: { toggle: "tooltip", placement: "bottom" },
    title: "Xでシェア",
    class:"font-bold" do %>
      <i class="fa-brands fa-square-x-twitter"></i>でシェア!
  <% end %>
  </p>

  <div id="close" class="hover:bg-gray-100">
    閉じる
  </div>
</section>
<div id="mask" class="hidden">
</div>