<!-- モーダル -->
<section id="modal" class="hidden">
    <!-- 画像表示用の要素 -->
  <%= image_tag "user_avatar_sample.png", id: "modalImage", class: "hidden" %>
  <p class="text-center text-xl ">Congratulations!</p>
  <div id="close" class="hover:bg-gray-100">
    閉じる
  </div>
</section>
<div id="mask" class="hidden">
</div>