/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div.example input[type=radio] {
  display: none; /* ラジオボタンを非表示にする */
  }
input[type="radio"]:checked + label {
  background: #31A9EE;/* マウス選択時の背景色を指定する */
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}
.label {
  margin: 5px; /* ラベル外側の余白を指定する */
  border: 1px solid #006DD9;/* ラベルの境界線を実線で指定する */
  display: flex;
  }
.label_name {
  margin: 5px; /* ラベル外側の余白を指定する */
  border: 1px solid #000000;/* ラベルの境界線を実線で指定する */
  display: flex;
  }