@tailwind base;
@tailwind components;
@tailwind utilities;

#task_due::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 80%;
  opacity: 0;/* 不透明度を0に設定して非表示にする */
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s;
  z-index: 2;
  width: 90%;
  max-width: 500px;
  box-sizing: border-box; /* パディングとボーダーを幅に含める */
}



#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

#modalImage.hidden {
  transform: translate(0, -500px);
}