<p>こんにちは、<%= @resource.name %> 様</p>

<p>パスワード変更のリクエストがありましたので、下記のリンクより新しいパスワードの設定をお願いいたします。</p>

<p><%= link_to 'こちらからパスワードを変更してください', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>もしパスワードの変更をリクエストしていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスし、新しいパスワードを作成するまでは、現在のパスワードは変更されません。</p>